<!-- ========== signin-section start ========== -->
<section class="signin-section">
  <div class="container-fluid">

    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="title mb-30">
            <h2>Log in</h2>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <div class="row g-0 auth-row">
      <div class="col-lg-6">
        <div class="auth-cover-wrapper bg-primary-100">
          <div class="auth-cover">
            <div class="title text-center">
              <h1 class="text-primary mb-10">Welcome Back</h1>
              <p class="text-medium">
                Sign in to your Existing account to continue
              </p>
            </div>
            <div class="cover-image">
              <img src="assets/images/dash/dash-logo-3.png" alt="" />
            </div>
            <div class="shape-image">
              <img src="assets/images/auth/shape.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!-- end col -->
      <div class="col-lg-6">
        <div class="signin-wrapper">
          <div class="form-wrapper">
            <h6 class="mb-15" (click)="getRule()">Hi, Welcome Back!</h6>
            <p class="text-sm mb-25">
              <!-- Hello World! -->
            </p>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-12">
                  <div class="input-style-1">
                    <label>Email</label>
                    <input formControlName="username" type="text" placeholder="Username" />
                  </div>
                </div>
                <!-- end col -->
                <div class="col-12">
                  <div class="input-style-1">
                    <label>Password</label>
                    <input type="password" formControlName="password" placeholder="Password" />
                  </div>
                </div>
                <!-- end col -->
                <div class="col-12">
                  <div class="button-group d-flex justify-content-center flex-wrap">
                    <button class="main-btn primary-btn btn-hover w-100 text-center" type="submit" [disabled]="loading">
                      <span *ngIf="loading"></span>
                      Login
                    </button>
                  </div>
                </div>
              </div>
              <!-- end row -->
            </form>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
</section>
<!-- ========== signin-section end ========== -->
<!-- ========== footer start =========== -->
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 order-last order-md-first">
        <div class="copyright text-center text-md-start">
          <p class="text-sm">
            Developed by
            <a href="https://virtusindonesia.com" rel="nofollow" target="_blank">
              {{devName}}&nbsp;
            </a>
            <span *ngIf="!isProduction">( Dev Release )</span>
          </p>
        </div>
      </div>
      <!-- end col-->
      <div class="col-md-6">
        <div class="terms d-flex justify-content-center justify-content-md-end">
          <a href="#0" class="text-sm">Terms & Conditions</a>
          <a href="#0" class="text-sm ml-15">Privacy & Policy</a>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</footer>
<!-- ========== footer end =========== -->